#jumbo-container {
    color: rgba(39, 37, 37, 1.0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(https://c1.staticflickr.com/8/7551/15938866299_9f5376e4e0_b.jpg);
    max-width: 100%;
    height: 360px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 360px;
    margin-bottom: 0px;
}

#jumbo-heading {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
}

#jumbo-lead {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

#time-text {
    font-family: 'Gruppo', cursive;
    font-size: 26px;
}

#start-button {
    font-family: 'Gruppo', cursive;
    margin: 10px;
    padding: 5px;
}

#counter {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

strong {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

.container {
    background: black;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.question-container {
    background-color: black;
    flex: 0 0 47%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-container {
    display: none;
    flex: 00 47%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    background-color: black;
    color: white;
    margin: 15px;
    
}

.card-img-top {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

.form {
    background-color: black;
    color:white;
    font-family: 'Gruppo', cursive;
    font-size: 18px;
}

img {
    width: 100%;
    height: 250px;
}

.display-4 {    
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

p.lead {
    font-family: 'Raleway', sans-serif;
    font-family: 'Gruppo', cursive;
    height: 165px;
}
